<?xml version="1.0" encoding="ISO-8859-1"?>
<robot name="trqhyntolj">
	<link name="flange" sceneeditor="1">
		<visual sceneeditor="1">
			<origin rpy="0 0 0" xyz="0 -0.004 0"></origin>
			<geometry>
				<sphere radius="0.1535"></sphere>
			</geometry>
			<material>
				<color rgba="0.14 0.56 1 1"></color>
			</material>
		</visual>
		<collision sceneeditor="1">
			<origin rpy="0 0 0" xyz="0 -0.004 0"></origin>
			<geometry>
				<sphere radius="0.1535"></sphere>
			</geometry>
		</collision>
	</link>
	<link name="base" sceneeditor="1">
		<visual sceneeditor="1">
			<origin rpy="0 0 0" xyz="1 1 0"></origin>
			<geometry>
				<cylinder length="0.3" radius="0.3"></cylinder>
			</geometry>
			<material>
				<color rgba="0.14 0.56 1 1"></color>
			</material>
		</visual>
		<collision sceneeditor="1">
			<origin rpy="0 0 0" xyz="1 1 0"></origin>
			<geometry>
				<cylinder length="0.3" radius="0.3"></cylinder>
			</geometry>
		</collision>
	</link>
</robot>